<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main/popup.css">
  <link rel="stylesheet" href="/main/main.css">

</head>

<body>
  <div id="wrap">
    <div id="main_Btn">
      <button type="button" class="pop_btn btnBox login_btn">LOG IN</button>
      <button type="button" class="pop_btn btnBox join_btn">JOIN</button>
    </div>
    <div class="verticalLine"> </div>

    <div id="copy_write">
      <h1 class="intro">Create your noticeboard, <br />
        <br />
        TRY NOW.
      </h1>
    </div>
  </div>

  <form action="/user/join_success" method="post" id="join_form" enctype="multipart/form-data">
    <div class="join_popup_wrap background"></div>
    <div class="join_popup popup">
      <ul class="join_pop_inner">
        <li>ID <input type="text" id="userid" class="join_box mustFill" name="userid"></li>
        <li id="userid_msg"></li>
        <li id="userpw_li">PASSWORD <input type="password" id="userpw" class="join_box mustFill" name="userpw"></li>
        <li>PASSWORD CHECK <input type="password" id="userpw_check" class="join_box" name="userpw_check"></li>
        <li>E-MAIL <input type="email" class="join_box mustFill" name="usermail"></li>
        <li>IMAGE <input type="file" class="join_img" name="userimage"></li>
        <li>NAME <input type="text" class="join_box mustFill" name="username"></li>
      </ul>
      <input type="button" class="joinNow" value="JOIN" id="join_submit">
      <span class="close close_join"> X </span>
    </div>
  </form>

  <form action="/user/login_check" method="post" id="login_form">
    <div class="login_popup_wrap background"> </div>
    <div class="login_popup popup">
      <ul class="login_pop_inner">
        <li>ID</li><input type="text" name="userid" id="userid" class="login_box mustFilllog">
        <li>PASSWORD</li><input type="password" name="userpw" id="userpw" class="login_box mustFilllog">
      </ul>
      <span class="close close_login"> X </span>
      <input type="button" class="loginNow" value="LOGIN">
    </div>
  </form>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script type="text/javascript">
    let joinBtn = document.querySelector('.join_btn');
    let loginBtn = document.querySelector('.login_btn');
    let close_join = document.querySelector('.close_join');
    let close_login = document.querySelector('.close_login');

    joinBtn.addEventListener('click', popupSet_join);
    loginBtn.addEventListener('click', popupSet_login);
    close_join.addEventListener('click', closeJoin);
    close_login.addEventListener('click', closeLogin);

    function popupSet_join() {
      let join_popup_wrap = document.querySelector('.join_popup_wrap');
      let type2 = (join_popup_wrap.style.display == 'block') ? 'none' : 'block';
      join_popup_wrap.style.display = type2;

      let joinPopup = document.querySelector('.join_popup');
      let type1 = (joinPopup.style.display == 'block') ? 'none' : 'block';
      joinPopup.style.display = type1;

      joinBtn.style.display = 'none';
      loginBtn.style.display = 'none';
    }

    function popupSet_login() {
      let loginPopup = document.querySelector('.login_popup_wrap');
      let type2 = (loginPopup.style.display == 'block') ? 'none' : 'block';
      loginPopup.style.display = type2;

      let login_popup = document.querySelector('.login_popup');
      let type1 = (login_popup.style.display == 'block') ? 'none' : 'block';
      login_popup.style.display = type1;

      joinBtn.style.display = 'none';
      loginBtn.style.display = 'none';
    }

    function closeJoin() {
      let join_popup_wrap = document.querySelector('.join_popup_wrap');
      let type1 = (join_popup_wrap.style.display == 'none') ? 'block' : 'none';
      join_popup_wrap.style.display = type1;

      let joinPopup = document.querySelector('.join_popup');
      let type2 = (joinPopup.style.display == 'none') ? 'block' : 'none';
      joinPopup.style.display = type2;

      joinBtn.style.display = 'block';
      loginBtn.style.display = 'block';
    }

    function closeLogin() {
      let login_popup_wrap = document.querySelector('.login_popup_wrap');
      let type2 = (login_popup_wrap.style.display == 'none') ? 'block' : 'none';
      login_popup_wrap.style.display = type2;

      let login_popup = document.querySelector('.login_popup');
      let type = (login_popup.style.display) == 'none' ? 'block' : 'none';
      login_popup.style.display = type;

      joinBtn.style.display = 'block';
      loginBtn.style.display = 'block';
    }

  </script>

  {% if flag == '0' %}
  <script type="text/javascript">
    alert('INVALID ID OR PASSWORD');
    const id = document.querySelector('#userid');
    const pw = document.querySelector('#userpw');

    id.addEventListener('focus', () => {
      id.setAttribute('style', 'background:#fff;')
    })
    pw.addEventListener('focus', () => {
      pw.setAttribute('style', 'background:#fff;')
    })
  </script>
  {% endif %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <!--위에 이거 axois 가져온거래요-->
  <script type="text/javascript">

    const pwd1 = document.querySelector('#userpw');
    const pwd2 = document.querySelector('#userpw_check');
    //const login_btn = document.querySelector('#login_submit');
    const join_frm = document.querySelector('#join_form');
    const userid_msg = document.querySelector('#userid_msg');
    const userid = document.querySelector('#userid');
    const join_btn = document.querySelector('#join_submit');
    const userpw_li = document.querySelector('#userpw_li');
    const mustFill = document.querySelectorAll('.mustFill');
    const login_form = document.querySelector('#login_form');
    const login_btn = document.querySelector('.loginNow');
    const mustFilllog = document.querySelectorAll('.mustFilllog');

    //===============아이디 체크하는 부분===========================================     
    async function userid_check() {
      let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);
      let login_flag = data.data.login;

      if (login_flag) { //true이면(중복이 아니면)
        userid_msg.innerHTML = "You can use this ID."
        userid_msg.style.color = 'blue';
        userid_msg.style.display = 'block';
        userpw_li.style.margin = '0px 0px 8px 0px';
      } else { // false이면(중복이면)
        userid_msg.innerHTML = 'This ID already exists.'
        userid_msg.style.color = 'red';
        userid_msg.style.display = 'block';
        userpw_li.style.margin = '0px 0px 8px 0px';
      }
    }
    userid.addEventListener('focusout', userid_check);

    //=================빈칸 확인 부분=====================================
    function null_check() {
      for (i = 0; i < mustFill.length; i++) {
        if (mustFill[i].value == '') {
          return false
        }
      }
      return true
    }

    function null_check_login() {
      for (i = 0; i < mustFilllog.length; i++) {
        if (mustFilllog[i].value == '') {
          return false
        }
      }
      return true
    }

    //============================로그인 확인 부분==================================
    login_btn.addEventListener('click',()=>{
      let blank_check_log = null_check_login();
      if(blank_check_log == false){
        alert('FILL YOUR BLANK');
        return
      }
      login_form.submit();
    })

    //============================비밀번호 확인부분==================================
    function password_check() {
      console.log(pwd1.value, pwd2.value);
      return pwd1.value == pwd2.value;
    }

    join_btn.addEventListener('click', () => {
      let pwd_check = password_check(); //boolean
      let blank_check = null_check();
      if (pwd_check == false) {
        alert('Check the password.');
        pwd1.value = '';
        pwd2.value = '';
        pwd1.focus();
        console.log('asdf')
        return
      }
      if (blank_check == false) {
        console.log('asdf')
        alert('Fill the blank(s).')

        return
      }
      join_frm.submit();
    })

  </script>
</body>

</html>