<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main/popup.css">
  <link rel="stylesheet" href="/main/main.css">

</head>

<body>
  <div id="wrap">
    <div id="main_Btn">
      <button type="button" class="pop_btn btnBox login_btn">LOG IN</a></button>
      <button type="button" class="pop_btn btnBox join_btn">JOIN</a></button>
    </div>
    <div class="verticalLine"> </div>


    <div id="copy_write">
      <h1>Create your noticeboard, <br />
        <br />
        TRY NOW.
      </h1>
    </div>
  </div>


<form action="/user/join_success" method="post" id="join_form" enctype="multipart/form-data">
  <div class="join_popup_wrap"></div>
    <div class="join_popup">
      <ul class="join_pop_inner">
        <li>ID <input type="text" id="userid" class="join_box" name="userid"></li>
        <li style="display: none;" id="userid_msg"></li>
        <li>PASSWORD <input type="password" id="userpw" class="join_box" name="userpw"></li>
        <li>PASSWORD CHECK <input type="password" id="userpw_check" class="join_box" name="userpw_check"></li>
        <li>E-MAIL <input type="email" class="join_box" name="user_mail"></li>
        <li>IMAGE <input type="file" class="join_img" name="userimage"></li>
        <li>NAME <input type="text" class="join_box" name="username"></li>
      </ul>
      <input type="submit" class="joinNow" value="JOIN" id="join_submit">
      <span class="close close_join"> X </span>
    </div>
  </form>


  <form action="/user/login_check" method="post">
    <div class="login_popup_wrap"> </div>
    <div class="login_popup">
      <ul class="login_pop_inner">
        <li>ID</li><input type="text" name="userid" id="userid" class="login_box">
        <li>PASSWORD</li><input type="password" name="userpw" id="userpw" class="login_box">
      </ul>
      <span class="close close_login"> X </span>
      <input type="submit" class="loginNow" value="LOGIN">
    </div>
  </form>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script type="text/javascript">
    let joinBtn = document.querySelector('.join_btn');
    let loginBtn = document.querySelector('.login_btn');
    let close_join = document.querySelector('.close_join');
    let close_login = document.querySelector('.close_login');
    
    joinBtn.addEventListener('click',popupSet_join);
    loginBtn.addEventListener('click',popupSet_login);
    close_join.addEventListener('click',closeJoin);
    close_login.addEventListener('click',closeLogin);

    function popupSet_join(){
      let join_popup_wrap = document.querySelector('.join_popup_wrap');
      let type2 = (join_popup_wrap.style.display == 'block') ? 'none' : 'block';
      join_popup_wrap.style.display = type2;

      let joinPopup = document.querySelector('.join_popup');
      let type1 = (joinPopup.style.display ==  'block') ? 'none' : 'block';
      joinPopup.style.display = type1;
    }


    function popupSet_login(){
      let loginPopup = document.querySelector('.login_popup_wrap');
      let type2 = (loginPopup.style.display ==  'block') ? 'none' : 'block';
      loginPopup.style.display = type2;

      let login_popup = document.querySelector('.login_popup');
      let type1 = (login_popup.style.display ==  'block') ? 'none' : 'block';
      login_popup.style.display = type1;
    }
    

    function closeJoin() {
      let join_popup_wrap = document.querySelector('.join_popup_wrap');
      let type1 = (join_popup_wrap.style.display == 'none') ? 'block' : 'none';
      join_popup_wrap.style.display = type1;

      let joinPopup = document.querySelector('.join_popup');
      let type2 = (joinPopup.style.display == 'none') ? 'block' : 'none';
      joinPopup.style.display = type2;
    }

    function closeLogin() {
      let login_popup_wrap = document.querySelector('.login_popup_wrap');
      let type2 = (login_popup_wrap.style.display == 'none') ? 'block' : 'none';
      login_popup_wrap.style.display = type2;

      let login_popup = document.querySelector('.login_popup');
      let type = (login_popup.style.display) == 'none' ? 'block' : 'none';
      login_popup.style.display = type;
    }

  </script>

  {% if flag == '0' %}
  <script type="text/javascript">
    alert('아이디와 패스워드를 확인해주세요');
    const id = document.querySelector('#userid');
    const pw = document.querySelector('#userpw');

    id.addEventListener('focus', () => {
      id.setAttribute('style', 'background:#fff;')
    })
    pw.addEventListener('focus', () => {
      pw.setAttribute('style', 'background:#fff;')
    })
</script>
{% endif %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<!--위에 이거 axois 가져온거래요-->
<script type="text/javascript">

        const pwd1 = document.querySelector('#userpw');
        const pwd2 = document.querySelector('#userpw_check');
        //const login_btn = document.querySelector('#login_submit');
        const join_frm = document.querySelector('#join_form');
        const userid_msg = document.querySelector('#userid_msg');
        const userid = document.querySelector('#userid');
        const join_btn = document.querySelector('#join_submit')




    //===============아이디 체크하는 부분===========================================     
    async function userid_check(){
    let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);                     
    //중복 :FALSE 중복X : TRUE
    //console.log(data);
        login_flag = data.data.login;// 이건 기준치 (중복 되지 않았다고 기본값주고 작업 시작)

        if( login_flag ){ //true이면(중복이 아니면)
            userid_msg.innerHTML = "You can use this ID."
            userid_msg.style.color = 'blue';
        }else{ // false이면(중복이면)
            userid_msg.innerHTML = 'This ID already exeist.'
            userid_msg.style.color = 'red';
        } 
    }
    userid.addEventListener('focusout',userid_check); 
    
    
    
    
    
//============================비밀번호 확인부분==================================
    function password_check(){
                console.log( pwd1.value, pwd2.value );
                return pwd1.value == pwd2.value;
        }
        
        join_btn.addEventListener('click',()=>{ 
        pwd_check = password_check(); //boolean
        console.log(pwd_check);
        if(pwd_check){// password_check를 실행한 결과값이 트루면
          join_frm.submit();  
        }else{
            pwd1.value='';
            pwd2.value='';
            pwd1.focus(); // 비번1 지우고 비번2 지우고 비번 1로 커서이동
            alert('Please checkout your PASSWORD.')
            event.preventDefault();
        }
    })  //login_frm.submit() // 요거를 조건이 맞을때에만 실행되게
</script>
</body>

</html>