<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/main/popup.css">
<!--<link rel="stylesheet" href="../public/main/popup.css">-->
<!--<link rel="stylesheet" href="/index.css">-->
<!--<link rel="stylesheet" href="../public/index.css">-->

</head>
<body>
    <div id="main_Btn">
  <button type="button" class="pop_btn btnBox login_btn" >LOG IN</a></button>
  
  <button type="button" class="pop_btn btnBox join_btn" >JOIN</a></button>
    </div>
  <div class="verticalLine"> </div>


    <div id="copy_write">
    <h1>Create your noticeboard, <br/>
        <br/>
        TRY NOW.</h1>
</div>


<form action="/user/join_success" method="post">
  <div class="join_popup_wrap"></div>
    <div class="join_popup">
      <ul class="join_pop_inner">
          <li>ID   <input type="text" class="join_box"></li>
          <li>PASSWORD   <input type="password" class="join_box"></li>
          <li>PASSWORD CHECK   <input type="password" class="join_box"></li>
          <li>E-MAIL   <input type="email" class="join_box"></li>
          <li>IMAGE  <input type="file" class="join_box"></li> 
          <li>NAME  <input type="text" class="join_box"></li> 
      </ul>
      <input type="submit" class="joinNow" value="JOIN">
      <span class="close close_join"> X </span>
  </div>
</form>


    <form action="/board/list" method="post">
    <div class="login_popup_wrap">  </div>
      <div class="login_popup">
        <ul class="login_pop_inner">
          <li>ID</li><input type="text" name="userid" class="login_box">
          <li>PASSWORD</li><input type="password" name="userpw" class="login_box">
        </ul>
        <span class="close close_login"> X </span>
        <input type="submit" class="loginNow" value="LOGIN">
      </div>
    </form>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript">
    let joinBtn = document.querySelector('.join_btn');
    let loginBtn = document.querySelector('.login_btn');
    let close_join = document.querySelector('.close_join');
    let close_login = document.querySelector('.close_login');
    
    joinBtn.addEventListener('click',popupSet_join);
    loginBtn.addEventListener('click',popupSet_login);
    close_join.addEventListener('click',closeJoin);
    close_login.addEventListener('click',closeLogin);



    function closeJoin(){
      /*
      let closeJoin = document.querySelector('.close_join')
      let closeType = (joinPopup.style.display == 'block') ? 'none' : 'block';
      joinPopup.style.display = closeType
      */
      let join_popup_wrap = document.querySelector('.join_popup_wrap');
      let type1 = (join_popup_wrap.style.display == 'none') ? 'block' : 'none';
      join_popup_wrap.style.display = type1;

      let joinPopup = document.querySelector('.join_popup');
      let type2 = (joinPopup.style.display == 'none') ? 'block' : 'none';
      joinPopup.style.display = type2;
    }


    function closeLogin(){
      /*
      let closeJoin = document.querySelector('.close_join')
      let closeType = (loginPopup.style.display == 'block') ? 'none' : 'block';
      loginPopup.style.display = closeType
      */
      let login_popup_wrap = document.querySelector('.login_popup_wrap');
      let type2 = (login_popup_wrap.style.display == 'none') ? 'block' : 'none';
      login_popup_wrap.style.display = type2;

      let login_popup = document.querySelector('.login_popup');
      let type = (login_popup.style.display) == 'none' ? 'block' : 'none';
      login_popup.style.display = type;
    }

    function popupSet_join(){
      let join_popup_wrap = document.querySelector('.join_popup_wrap');
      let type2 = (join_popup_wrap.style.display == 'none') ? 'block' : 'none';
      join_popup_wrap.style.display = type2;

      let joinPopup = document.querySelector('.join_popup');
      let type1 = (joinPopup.style.display == 'none') ? 'block' : 'none';
      joinPopup.style.display = type1;
    }


    function popupSet_login(){
      let loginPopup = document.querySelector('.login_popup_wrap');
      let type2 = (loginPopup.style.display == 'none') ? 'block' : 'none';
      loginPopup.style.display = type2;

      let login_popup = document.querySelector('.login_popup');
      let type1 = (login_popup.style.display == 'none') ? 'block' : 'none';
      login_popup.style.display = type1;
    }


   
    </script>
</body>

</html>