
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main/join_success.css">
</head>
<body>
    <body>
        <h1 class="join_title">
            <span class="a"> WELCOME</span>
            <span class="b">to</span>  
            <span class="c">Noticeboard!</span>
        </h1>
        <div class="join_success_msg" >
    
    {{userid}}({{username}}),
    Welcome to our service, enjoy your time staying here!
    
    <a href="/"><P class="right_icon">▶</P> Go Main</a>
    </div>
    </body>
</body>
</html>


