
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user/join_success.css">
</head>
<body>
    <h1> WELCOME to Noiceboard!</h1>
 <!--<img src="http://localhost:3000/{{userimage}}">-->
 {{userid}}({{username}}),
 Thank you for using our service
 <br/>
<a href="/">Go Main</a>
</body>
</html>


