
        <div id = "center"  class="open">
            <div class = "left">
                <img class = "img" src = "./user/svgexport-1 (1).svg">
            </div>
            <p class = "divider"></p>
            <div class = "right">
                <div class = "right_ctn">
                <h2>INFORMATION</h2>
                    <div class = "right_line"><span>아이디</span>dfassf</div>
                    <div class = "right_line"><span>이메일</span>dfassf@gmail.com</div>
                    <div class = "right_line"><span>이름</span>엄신우</div>
                </div>
            </div>
            <button class="back"><img src = "./user/svgexport-3.png"></button>
        </div>
    </div>
