*{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border:none;
    box-shadow: none;
    overflow:visible;
}

.w100{
    width: 100%;
}

.center{
    width: 1200px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
    height: 40px;
}

/* HEADER  title && user_info */

.header{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
    margin-top: 50px;
}

.head_title{
    margin: 0 30%;
    display: inline-block;
    
}

/* user_info small */
.small_info{
    height: 100%;
    text-align: right;
    width: 150px;
}

.small_info > ul {
    height: 100%;
}

.logout{
    text-align: left;
    width: 50%;
    height: 40px;
    float:left;
    margin-top: 35px;
}

.logout > a{
    font-size: 20px;
}

.logout > a > input{
    height: 30px;
    width: 60px;
}

.user_image{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 15px 10px 2px 5px;
}

.user_image > a > img{
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #ededed;
}

.user_name{
    float:right;
    width: 50%;
    height: 20px;
    text-align: center;
}

.user_name > a{
    font-size: 12px;
}

/* WRITE BODY */

.write_title{
    height: 30px;
    margin-top: 30px;
}

.write_body{
    height: 500px;
    margin-top: 30px;
}

.write_box > textarea{
    height: 100%;
    width: 100%;
}

.write_box > input{
    height: 100%;
    width: 100%;
}