*{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border:none;
    box-shadow: none;
    overflow:visible;
}

.w100{
    width: 100%;
}

.center{
    width: 1200px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
    height: 40px;
}

/* HEADER  title && user_info */

.header{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
    margin-top: 50px;
}

.head_title{
    margin: 0 300px;
    display: inline-block;
    
}

/* user_info small */
.small_info{
    height: 100%;
    text-align: right;
    width: 250px;
}

.logout{
    text-align: right;
    width: 50%;
    height: 50px;
    float:left;
    margin-top: 30px;
}

.logout > a{
    font-size: 30px;
}

.logout > a > input{
    height: 40px;
    width: 90px;
    margin: 0 10px 0 0;
}

.user_image{
    display: inline-block;
    width: 50%;
    height: 80px;
}

.user_image > a > img{
    margin: 5px 15px 0 0;
    display: inline;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.user_name{
    float:right;
    width: 40%;
    height: 20px;
    text-align: center;
}

/* WRITE BODY */

.write_title{
    height: 30px;
    margin-top: 30px;
}

.write_body{
    height: 500px;
    margin-top: 30px;
}

.write_box > input{
    height: 100%;
    width: 100%;
}