*{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border:none;
    box-shadow: none;
    overflow:visible;
}

.w100{
    width: 100%;
}

.center{
    width: 1200px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
    height: 40px;
}

/* HEADER  title && user_info */

.header{
    position: relative;
    height: 100px;
    align-items: center;
    margin-top: 50px;
}

.head_title{
    text-align: center;
    height: 100%;
    width: 100%;
    float: left;
}

/* user_info small */
.small_info{
    position: absolute;
    height: 100px;
    text-align: right;
    width: 200px;
    right: 0px;
}

.small_info > ul {
    height: 100%;
}

.logout{
    text-align: left;
    position: absolute;
    right:0px;
    bottom: 5px;
    width: 100px;
    height: 40px;
}

.logout > a > input{
    height: 20px;
    width: 60px;
    font-size: 12px;
    line-height: 0px;
}

.user_image{
    float:left;
    width: 60px;
    height: 60px;
    margin: 20px 10px 2px 20px;
}

.user_image > img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #ededed;
}

.user_name{
    position: absolute;
    right:0px;
    top: 30px;
    width: 100px;
    height: 20px;
    text-align: left;
    font-size: 15px;
}

/* WRITE BODY */

.write_title{
    height: 40px;
    margin-top: 30px;
}

.write_title > input{
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}

.write_body{
    height: 500px;
    margin-top: 30px;
}

.write_box > textarea{
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.write_box > input{
    height: 100%;
    width: 100%;
}