#board{
    background-color: #ededed;
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

#list{
    width: 100%;
}

tr{
    text-align: center;
    height: 48px;
}

tr:nth-child(1){
    background-color: #000;
    color: #fff;
    text-align: center;
    border-bottom:none;
}

tr:nth-child(1) > td:nth-child(1){width: 100px;}
tr:nth-child(1) > td:nth-child(2){width: 600px;}
tr:nth-child(1) > td:nth-child(4){width: 200px;}
tr:nth-child(1) > td:nth-child(5){width: 50px;}
tr:nth-child(10) > td{border-bottom: none;}

td{
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

td:nth-child(5){
    border-right:none;
}

/* FOOTER */

.footer{
    height: 200px;
}

.footer > a{
    float: right;
}

#pagenation{
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 0 auto;
}

#pagenation>a{
    padding: 10px;
    box-sizing: border-box;
}