*{
    overflow-y: auto;
}

#main{
    margin-top:30px;
}

.write_gnb{
    border-bottom: 1px solid #1b191985;
    display: flex;
}

.write_gnb  > ul > li{
    display: inline-block;
}

.left_gnb{
    float: left;
    width: 50%;
}

.right_gnb{
    justify-content: flex-end;
    width: 50%;
    text-align: right;
}

.view_write{
    font-size: 16px;
    margin-top: 30px;
    min-height: 500px;
    border: 1px solid #ededed;
    padding: 20px;
    box-sizing: border-box;
}

.footer > a:nth-child(1){float:right; margin-left:30px}
.footer > a:nth-child(3){float:right;}