/* FOOTER */

#footer{
    margin-top: 30px;
}

#footer > input{
    float: right;
}

#footer > a{
    float: left;
}

.user_closed{
    top: -2000px;
    transition: all 1s ease-in-out;
}

.user_open{
    top: -660px;
    transition: all 1s ease-in-out;
}