<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
    <title>LIST</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/board/list.css">
    <link rel="stylesheet" href="/userinfo.css">
</head>

<body>
    
    <div id="wrap" class="w100">
        <!--HEADER contains title & userinfo-->

        {% for item in userinfo %}

        <div class="header center">
            <div class="head_title">
                <h1>철원의 오대쌀</h1>
            </div>
            <div class="small_info">
                <ul>
                    <li class="logout"><a href="/logout">
                        <input type="button" class="btn" value="logout">
                        </a>
                    </li>
                    <li class="user_image user_info_pop" ><img src="https://img1.daumcdn.net/thumb/C428x428/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Ftistory_admin%2Fstatic%2Fmanage%2Fimages%2Fr3%2Fdefault_L.png"></li>
                    <li class="user_name user_info_pop">aaaa{{item.userid}}</li>
                </ul>
            </div>
        </div>

        {% endfor %}

        <!--MAIN board-->
        <div id="main" class="center">
            <div id="board">
                <table id="list">   
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Writer</td>
                        <td>Date</td>
                        <td>Hit</td>
                    </tr>
                    {% for item in boardList %}

                    <tr>
                        <td>{{item.id}}</td>
                        <td><a href="/board/view?id={{item.id}}">{{item.title}}</a></td>
                        <td>{{item.writer}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.hit}}</td>
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>

        <div id="footer" class="center">
            <a href="/board/write"><input type="button" class="btn" value="WRITE"></a>
        </div>

    </div>

{% include '../user/user_info.html' %}
{% include '../template/bottom.html' %}