<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,">
    <title>VIEW</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/board/view.css">
    <link rel="stylesheet" href="/userinfo.css">
</head>

<body>
    <div id="wrap" class="w100">
        <!--HEADER-->
        {% for item in boardList %}

        <div class="header center">
            <div class="head_title">
                <h1>{{item.title}}</h1>
            </div>
            <div class="small_info">
                <ul>
                    <li class="logout"><a href="/">
                            <input type="button" class="btn" value="logout">
                        </a>
                    </li>
                    {% if userimage == '' %}
                    <li class="user_image user_info_pop"><img src="/user/svgexport-1 (1).svg"></li>
                    {% else %}
                    <li class="user_image user_info_pop"><img src="/{{userimage}}"></li>
                    {% endif %}
                    <li class="user_name user_info_pop">{{userid}}</li>
                </ul>
            </div>
        </div>

        <!--TEXT INPUT-->

        <div id="main" class="center">
            <div class="write_gnb">
                <ul class="left_gnb">
                    <li class="gnb_name">{{item.writer}} ({{item.writer}})</li>
                </ul>
                <ul class="right_gnb">
                    <li class="gnb_date">{{item.date}}&nbsp;&nbsp;</li>
                    <li class="gnb_hit">| &nbsp; {{item.hit}} </li>
                </ul>
            </div>
            <div class="view_write w100">
                <pre>{{item.content}}</pre>
            </div>
        </div>

        <!--FOOTER-->
        <div class="footer center">
            <a href="/board/modify?id={{item.id}}"><input type="button" class="btn" value="MODIFY"></a>
            <a href="/board"><input type="button" class="btn" value="BACK"></a>
            <a id="deleteBtn"><input type="button" class="btn" value="DELETE"></a>
        </div>
        <script type="text/javascript">
            let deleteBtn = document.querySelector('#deleteBtn');

            deleteBtn.addEventListener('click', function () {
                if (confirm("정말 삭제하시겠습니까?")) {
                    location.href = "/board/delete?id={{item.id}}"
                } else {
                    location.href = "/board/view?id={{item.id}}"
                }
            })
        </script>

        {% endfor %}
    </div>

    {% include '../user/user_info.html' %}
    {% include '../template/bottom.html' %}