<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,">
    <title>VIEW</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/board/view.css">
    <link rel="stylesheet" href="/userinfo.css">
</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<body>
    <div id="wrap" class="w100">
        <!--HEADER-->
        {% for item in boardList %}

        <div class="header center">
            <div class="head_title">
                <h1>{{item.title}}</h1>
            </div>
            <div class="small_info">
                <ul>
                    <li class="logout"><a href="/">
                            <input type="button" class="btn" value="logout">
                        </a>
                    </li>
                    {% if userimage == '' %}
                    <li class="user_image user_info_pop"><img src="/user/svgexport-1 (1).svg"></li>
                    {% else %}
                    <li class="user_image user_info_pop"><img src="/{{userimage}}"></li>
                    {% endif %}
                    <li class="user_name user_info_pop">{{userid}}</li>
                </ul>
            </div>
        </div>

        <!--TEXT INPUT-->

        <div id="main" class="center">
            <div class="write_gnb">
                <ul class="left_gnb">
                    <li class="gnb_name">{{item.writer}}</li>
                </ul>
                <ul class="right_gnb">
                    <li class="gnb_date">{{item.date}}&nbsp;&nbsp;</li>
                    <li class="gnb_hit">| &nbsp; {{item.hit}} </li>
                </ul>
            </div>
            <div class="view_write w100">
                <pre>{{item.content}}</pre>
            </div>
        </div>

        <!--FOOTER-->
        <div class="footer center">
            {% if userid == item.writer %}
            <a href="/board/modify?id={{item.id}}"><input type="button" class="btn" value="MODIFY"></a>
            <a id="deleteBtn"><input type="button" class="btn" value="DELETE"></a>
            {% else %}
            <a onclick="alert('Writer accessible only.')"><input type="button" class="btn" value="MODIFY"></a>
            <a onclick="alert('Writer accessible only.')"><input type="button" class="btn" value="DELETE"></a>
            {% endif %}
            <a href="/board"><input type="button" class="btn" value="BACK"></a>
        </div>
        <script type="text/javascript">
            let deleteBtn = document.querySelector('#deleteBtn');

            deleteBtn.addEventListener('click', function () {
                if (confirm("Are you sure to delete?")) {
                    location.href = "/board/delete?id={{item.id}}"
                } else {
                    event.preventDefault();
                }
            })
        </script>

    </div>
    <div class="comment center">
         <div class="comment center">
             <p class="comment_head">Comment</p>
            <div class="entcmt">
                <input type="text" id="userid" value="{{userid}}" style="display:none">
                <p>{{userid}}</p>
                <p><input type="text" id="comment_content" name="comment_content"></p>
                <p><input type="button" value="POST" id="addcomment"></p>
            </div>
            <input type="text" id="itemid" name="itemid" value="{{item.id}}" style="display:none">
            <ul class="newcmt">
                
            </ul>

    <script type="text/javascript">
        let comment_content = document.querySelector('#comment_content');
        let itemid = document.querySelector('#itemid');
        let userid = document.querySelector('#userid');
        let addcomment = document.querySelector('#addcomment');
        let newcmt = document.querySelector('.newcmt')
        const cmtList = [];
        const writerList = [];
        const delList = [];
        initComment();


        async function initComment() {
            let loadComment = await axios.post('http://localhost:3000/comment/', {
                itemid: itemid.value,
            })
            comment_content.value = '';

            while (newcmt.hasChildNodes()) { newcmt.removeChild(newcmt.firstChild); }

            for(let i=0;i<loadComment.data.commentList.length;i++){
                const li = document.createElement('li');
                const cmt_box = document.createElement('div');
                const cmt_userid = document.createElement('p');
                const cmt_content = document.createElement('p');
                const cmt_date = document.createElement('p');
                const cmt_del_btn = document.createElement('button');
                const cmt_id = document.createElement('p')
                
                cmt_userid.innerHTML = loadComment.data.commentList[i].commentWriter;
                cmt_userid.style.fontWeight='bold'
                cmt_userid.style.fontSize='18px'
                cmt_userid.style.width='60px'
                
                cmt_content.innerHTML = loadComment.data.commentList[i].commentContent;
                
                cmt_date.innerHTML = loadComment.data.commentList[i].commentDate;
                cmt_date.style.fontSize='12px'
                cmt_date.style.color='gray'
                cmt_id.innerHTML = loadComment.data.commentList[i].id;
                
                cmt_del_btn.innerHTML = 'X'
                cmt_del_btn.style.cursor='pointer'
                cmt_del_btn.style.background='none'
                cmt_del_btn.style.fontWeight='bolder' 
                cmt_del_btn.style.marginTop='15px'
                
                cmt_box.appendChild(cmt_userid);
                cmt_box.appendChild(cmt_content);
                cmt_box.appendChild(cmt_date);
                cmt_box.appendChild(cmt_del_btn);
                cmt_box.appendChild(cmt_id);
                cmt_id.setAttribute('style','display:none');
                cmt_del_btn.setAttribute('href','#');
                cmt_del_btn.setAttribute('class',`${i} delbtn ${cmt_id.innerHTML}`)
                newcmt.appendChild(cmt_box);
                newcmt.setAttribute('class','newcmt')
                

                delList.push(cmt_del_btn);
            };
           delList.forEach((value,key,array)=>{
               value.addEventListener('click', async function(){            
                let valueArray = value.className.split(' ');
                    let delComment = await axios.post('http://localhost:3000/comment/del',{
                        cmtid:valueArray[2]
                    })
                    initComment();
               })
            })
        }

        async function postComment() {
            if (comment_content != '') {
                let addComment = await axios.post('http://localhost:3000/comment/add', {
                    comment_content: comment_content.value,
                    itemid: itemid.value,
                    writer: userid.value,
                })
                initComment();
            };
        };
        addcomment.addEventListener('click', postComment);
    </script>


    {% endfor %}


    {% include '../user/user_info.html' %}
    {% include '../template/bottom.html' %}