<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" />
    <title> WRITE </title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/board/write.css">
    <link rel="stylesheet" href="/userinfo.css">
</head>

<body>
    <div id="wrap" class="w100">

        <!--HEADER-->
        <div class="header center">
            <div class="head_title">
                <h1>글쓰기</h1>
            </div>
            <div class="small_info">
                <ul>
                    <li class="logout"><a href="/">
                            <input type="button" class="btn" value="logout">
                        </a>
                    </li>
                    {% if userimage == '' %}
                    <li class="user_image user_info_pop"><img src="/user/svgexport-1 (1).svg"></li>
                    {% else %}
                    <li class="user_image user_info_pop"><img src="/{{userimage}}"></li>
                    {% endif %}
                    <li class="user_name user_info_pop">{{userid}}</li>
                </ul>
            </div>
        </div>

        <form action="/board/write_success" method="post" id="postupload">
            <!--TEXT INPUT-->
            <div id="main" class="center">
                <div class="write_title write_box w100">
                    <input type="text" name="title" class="texttitle">
                </div>
                <div class="write_body write_box w100">
                    <textarea name="content" class="textcontent"></textarea>
                </div>
            </div>

            <!--FOOTER-->
            <div id="footer" class="center">
                <input type="button" class="btn textbtn" value="WRITE">
                <a href="/board"><input type="button" class="btn" value="BACK"></a>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        const textbtn = document.querySelector('.textbtn');
        const postupload = document.querySelector('#postupload');

        textbtn.addEventListener('click',()=>{
        let texttitle = document.querySelector('.texttitle').value;
        let textcontent = document.querySelector('.textcontent').value;
        console.log(texttitle);
        console.log(textcontent)
            if(texttitle == ''){
                alert('제목을 입력하세요.');
                return
            }
            if(textcontent == ''){
                alert('내용을 입력하세요');
                return
            }
            postupload.submit();
        })
    </script>

    {% include '../user/user_info.html' %}
    {% include '../template/bottom.html' %}