<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" /> 
    <title> WRITE </title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/board/write.css">
    <link rel="stylesheet" href="/userinfo.css">
</head>
<body>
    <div id="wrap" class="w100">

        <!--HEADER-->
        <div class="header center">
            <div class="head_title">
                <h1>글쓰기</h1>
            </div>
            <div class="small_info">
                <ul>
                    <li class="logout"><a href="/">
                        <input type="button" class="btn" value="logout">
                        </a>
                    </li>
                    <li class="user_image user_info_pop"><img src="https://img1.daumcdn.net/thumb/C428x428/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Ftistory_admin%2Fstatic%2Fmanage%2Fimages%2Fr3%2Fdefault_L.png"></li>
                    <li class="user_name user_info_pop">{{item.userid}}</li>
                </ul>
            </div>
        </div>

        <form action="/board/write_success" method="post">

            <!--TEXT INPUT-->

            <div id="main" class="center">
                <div class="write_title write_box w100">
                    <input type="text" name="title">
                </div>
                <div class="write_body write_box w100">
                    <textarea name="content"></textarea>
                </div>
            </div>

            <!--FOOTER-->
            <div id="footer" class="center">
                <input type="submit" class="btn" value="WRITE">
                <a href="/board"><input type="button" class="btn" value="BACK"></a>
            </div>

        </form>
    </div>
{% include '../user/user_info.html' %}
{% include '../template/bottom.html' %}