</body>
<script type="text/javascript">

    //닫기버튼
    let state = true;
    let state2 = true;
    let user_center = document.querySelector('#user_center');
    let user_close = document.querySelector('.user_close');
    let user_close_img = document.querySelector('.user_close_img');
    let user_image = document.querySelector('.user_image');
    let user_name = document.querySelector('.user_name');

    function openPopup() {
        if (state2) {
            user_center.setAttribute('class', 'user_open');
            user_close_img.setAttribute('class', 'user_close_img open');
            console.log('ifstatetrue')
        } else {
            user_center.setAttribute('class', 'user_closed');
            user_close_img.setAttribute('class', 'user_close_img closed');
            console.log('ifstatefalse')
        }
        state2 = !state2;
        console.log(state2)
    }

    user_close.addEventListener('click', openPopup);
    user_image.addEventListener('click', openPopup);
    user_name.addEventListener('click', openPopup);

    // button.addEventListener('click', function () {
    //     content.setAttribute('class', 'closed2');
    // })

    //글쓰기/편집 빈칸경고
    // let texttitle = document.getElementsByClassName('texttitle');
    // let textcontent = document.getElementsByClassName('textcontent');
    // let textbtn = document.getElementsByClassName('textbtn');
    // for(i=0;i>texttitle.length;i++){
        // console.log(texttitle[i]);
        // console.log(texttitle.length);
    // }

    function text_empty_check(){
        if(texttitle.value == ""){
            alert('ENTER YOUR SUBJECT');
            event.preventDefault();
        } else if(textcontent.value == ""){
            alert('ENTER YOUR CONTENT');
            event.preventDefault();
        }
    }

    // textbtn.addEventListener('click',text_empty_check);


</script>

</html>